*.zarr
.DS_Store
**/.ipynb_checkpoints
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/
.venv/
venv/
*.egg-info/
data/*
plots/*
examples/*.nc

/examples/copernicus-data
/examples/local_folder
/.conda
/dist
/docs/_build/
/docs/examples/
poetry.lock
/build
